.about-us {
  padding: 30px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__description {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  padding: 57px 0 30px;
}
