/*.catalog{
  margin: 0 30px;
  //background-color: pink;
}*/

.catalog__title{
  font-size: 27px;
  line-height: 30px;
  padding: 65px 0;
  margin: 0;
  text-align: center;
  background-color: @light-gray-color;
}

.catalog__list{
  margin: 30px 30px 0;
}
.catalog__item{
  margin-top: 30px;

}
.catalog__wrapper{
  border-bottom: 1px solid @border-gray-color;
  border-left: 1px solid @border-gray-color;
  border-right: 1px solid @border-gray-color;
  padding-bottom: 30px;
}

.catalog___subtitle{
  margin-top: 0;
  margin-bottom: 0;
}

.catalog__link{
  display: inline-block;
  margin-left: 28px;
  margin-top: 32px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.catalog__description{
  margin-right: 28px;
  margin-left: 28px;
  margin-top: 18px;
  padding-bottom: 28px;
  border-bottom: 1px solid @border-gray-color;
}

.catalog__price{
  line-height: 24px;
  font-weight: bold;
  margin-left: 28px;
}

.catalog__add-to-cart{
  background-color: pink;
  display: inline-block;
  min-width: 19px;
  min-height: 19px;
}
