.footer-develop {
  display: flex;
  justify-content: center;
  align-items: center;

  @media @tablet {
    justify-content: space-between;
    align-items: center;
  }
}

.footer-develop__description {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  padding: 28px 0;

  @media @tablet {
    padding: 0;
  }
}

.footer-develop__logo {
  margin-left: 29px;
  margin-top: 5px;

  svg {
    margin-right: 2;
  }

  @media @tablet {
    margin-top: 0;
  }
}

.footer__mishka{
  @media @tablet {
    &:hover {
      fill: @products-hover-right;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer-develop__logo-icon {
  color: @mint-color;

  @media @tablet {
    &:hover {
      fill: @products-hover-right;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
