.footer-develop__description{
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  margin-top: 27px;
  margin-left: 67px;
  padding-bottom: 31px;
  margin-bottom: 0;
}

.footer-develop-logo{
  margin-left: 31px;
  display: inline-block;
  background-color: pink;
}
