.footer {
  background-color: @light-gray-color;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: baseline;
  }

  @media @desktop {
    align-items: center;
  }
}

.footer__wrapper {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  @media @desktop {
    padding: 0 0 0 77px;
  }
}

.footer__logo {
  display: none;

  @media @tablet {
    display: flex;
    font-size: 0;

    a {
      &:hover {
        fill: rgba(0, 0, 0, 0.5);
      }

      &:active {
        fill: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.footer__mishka {
  @media @tablet {
    display: block;
    fill: #000000;
  }
}
