.header-nav {
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media @desktop {
    flex-wrap: nowrap;
  }
}

.header-nav__wrapper {
  display: block;

  @media @tablet {
    order: 1;
  }

  @media @desktop {
    order: 2;
  }
}

.header-nav__btn {
  position: absolute;
  right: 30px;
  top: 22px;
  border: none;
  background: pink;
  //background-color: #ffffff;
  height: 35px;
  min-width: 35px;

  @media @tablet {
    display: none;
  }
}

.header-nav__logo {
  display: inline-block;
  padding: 22px 0;

  @media @desktop {
    padding: 9px 40px;
  }
}

.header-nav__list {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 3;
  }

  @media @desktop {
    order: 1;
    justify-content: flex-start;
    max-width: 525px;
  }
}

.header-nav__list--user {
  @media @tablet {
    order: 2;
  }

  @media @desktop {
    order: 3;
  }
}

.header-nav__item {
  border-top: 1px solid @modal-size-color;

  @media @tablet {
    border: none;
  }

  @media @desktop {
    border-right: 1px solid @modal-size-color;
  }

  &--search {
    @media @desktop {
      border-right: none;
    }
  }

  &--basket {
    @media @desktop {
      border-right: none;
    }
  }
}

.header-nav__link {
  display: inline-block;
  padding: 33px 0 30px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  &--search {
    @media @tablet {
      border-left: 1px solid @border-main;
      padding: 48px 30px;
    }
  }

  &--catalog,
  &--knitting {
    @media @tablet {
      font-size: 15px;
      padding: 25px 37px 0 0;
    }

    @media @desktop {
      font-size: 17px;
      padding: 35px 35px 37px 50px;
    }
  }

  &--basket {
    @media @tablet {
      border-left: 1px solid @border-main;
      padding: 35px 0 37px 84px;
    }
  }

  &--new {
    @media @desktop {
      padding: 25px 20px 0 50px;
    }
  }

  &--sale {
    @media @desktop {
      padding: 25px 0 0 40px;
    }
  }
}

.header-nav__label {
  @media @tablet {
    display: none;
  }
}

.header-nav__item--sub-menu {
  display: none;

  @media @desktop {
    border: none;
    display: block;
  }
}
