.header {
  color: #000000;
  text-align: center;
  z-index: 2;
}

.header__wrapper{
  width: 100%;

  @media @tablet{
    display: flex;
    flex-wrap: wrap;
  }
}

.header__free-delivery {
  display: none;
  line-height: 24px;
  color: @text-gray-color;

  @media @tablet{
    margin-top: -25px;
    display: block;
    margin-left: auto;
  }
}
