.product-week {
  padding: 30px 30px 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    left: 0;
    display: block;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;

    @media @tablet {
      height: 14px;
      background-size: auto 14px;
    }

    @media @desktop {
      height: 23px;
      background-size: auto 23px;
    }
  }

  @media @tablet {
    padding-bottom: 63px;
    padding-left: 47px;

    &::before {
      content: "";
      position: absolute;
      top: -19px;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 30px;
      z-index: 5;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  @media @desktop {
    padding: 71px 50px 80px;
  }
}

.product-week__titles {
  @media @tablet {
    display: flex;
    padding-top: 19px;
    margin-bottom: 57px;
    justify-content: space-between;
    align-items: center;
  }

  @media @desktop {
    position: absolute;
    padding-top: 0;
    top: 125px;
    margin-bottom: 0;
  }
}

.product-week__main-title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media @tablet {
    order: 1;
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop {
    order: 2;
    font-size: 53px;
    line-height: 57px;
    z-index: 2;
  }
}

.product-week__item-of-work {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @mint-color;
  margin: 0;
  padding-top: 5px;

  @media @tablet {
    text-align: center;
    order: 2;
    width: 70px;
    line-height: 17px;
    margin-right: 50px;
  }

  @media @desktop {
    margin: 8px 52px 0 47px;
    order: 1;
    line-height: 17px;
  }
}

.product-week__description {
  line-height: 24px;
  color: @text-gray-color;
  padding-top: 22px;
  padding-bottom: 15px;
  margin: 0;

  @media @tablet {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -9px;
  }

  @media @desktop {
    margin-top: 158px;
  }
}

.product-week__wrapper {
  @media @tablet {
    position: relative;
  }
}

.product-week__product-detail {
  @media @desktop {
    padding-left: 175px;
    padding-top: 1px;
  }
}

.product-week__img {
  height: 315px;
  text-align: center;

  @media @tablet {
    position: absolute;
    top: 9px;
    right: 21px;
    width: 334px;
    margin-bottom: 0;
    //background-color: @products-color;
  }

  @media @desktop {
    width: 525px;
    margin-top: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.product-week__features {
  color: @text-gray-color;
  padding-bottom: 28px;

  @media @tablet {
    padding-top: 30px;
    padding-bottom: 0;
  }

  @media @desktop {
    padding-top: 40px;
  }
}

.product-week__row {
  display: flex;
  border-bottom: 1px solid @modal-size-color;
  padding: 9px 0 8px;
  margin-left: -3px;


  @media @tablet {
    margin-left: 0;
    padding-top: 12px;
    padding-bottom: 7px;
  }

  @media @desktop {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.product-week__indicators {
  min-width: 73px;
  padding-top: 0;
  padding-bottom: 0;
}

.product-week__value {
  padding-left: 25px;
}

.product-week__price {
  max-width: 290px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @text-gray-color;
  text-align: center;
  padding: 24px 0;
  margin: 0;

  @media @tablet {
    font-size: 20px;
    padding-top: 52px;
    padding-bottom: 34px;
  }

  @media @desktop {
    font-size: 20px;
    padding-top: 103px;
  }
}

.product-week__order {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: @text-gray-color;
  border: 2px solid @text-gray-color;
  min-width: 260px;
  padding: 15px 0;
  background-color: #ffffff;

  &:active {
    outline: none;
    border: none;
    background-color: @text-gray-color;
    color: rgba(255, 255, 255, 0.3);
  }

  @media @tablet {
    min-width: 294px;
    padding: 14px 0;

    &:hover {
      border: none;
      background-color: @text-gray-color;
      color: #ffffff;
    }
  }

  @media @desktop {
    min-width: 291px;
  }
}
