.social{
  display: flex;
  justify-content: center;
}

.social__item{
  display: inline-block;
}

.social__link{
  display: inline-block;
  background: pink;
  min-width: 23px;
  min-height: 30px;
}
