.sub-nav {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
  }

  @media @desktop {
    padding: 0 100px;
  }
}

.sub-nav__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 30px;
  }

  &--interer {
    background-color: @mint-color;
  }

  &--toys {
    background-color: @dark-mint-color;
  }

  @media @tablet {
    width: 50%;
  }

  @media @desktop {
    padding: 27px 36px;
  }
}

.sub-nav__link {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 26px 38px 16px 28px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  justify-content: space-between;
  display: flex;

  @media @tablet {
    font-size: 20px;
    line-height: 30px;
    padding-top: 36px;
    padding-bottom: 34px;
  }

  @media @desktop {
    justify-content: space-between;
    display: flex;
    padding: 0;
  }
}

.sub-nav__content{
  display: inline-block;
  width: 30%;
}
