.video{
  padding: 0 30px 58px;
  //background: yellow;
}

.video__wrapper {
  padding: 34px 44px 0 34px;
}

.video__subtitle{
  font-size: 17px;
  line-height: 24px;
  padding: 30px 42px 26px 90px;
  border: 1px solid @border-gray-color;
}

.video__img{
  position: relative;
}

.video__btn{
  display: block;
  min-width: 101px;
  min-height: 77px;
  background: pink;
  position: absolute;
  top: 30%;
  right: 30%;
  border: none;
}

.video__description{
  font-size: 13px;
  line-height: 24px;
}

.video__order-btn{
  font-size: 17px;
  line-height: 16px;
  display: block;
  color: #000000;
  font-weight:bold;
  margin: 29px 34px 33px;
  padding: 20px 23px 16px;
  border: 2px solid @text-gray-color;

}
