@mint-color: #63d1bb;
@dark-mint-color: #56c3b2;
@text-gray-color: #444444;
@light-gray-color: #f1f1f1;
@footer-diveder: #e5e5e5;
@modal-border-color: #c7c7c7;
@modal-size-color: #ececec;
@border-gray-color: #ededed;
@products-color: #f9f9f9;

@mobile-only: ~"(max-width: 765px)";
@mobile-only-area: 765px;
@tablet: ~"(min-width: 768px)";
@tablet-area: 768px;
@desktop: ~"(min-width: 1250px)";
@desktop-area: 1250px;
