@mint-color: #63d1bb;
@dark-mint-color: #56c3b2;
@text-gray-color: #444444;
@light-gray-color: #f1f1f1;
@footer-diveder: #e5e5e5;
@modal-border-color: #c7c7c7;
@modal-size-color: #ececec;
@border-gray-color: #ededed;
